In [1]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputOutput'    # 고정값
name = '김경원'    # 본인 이름을 작성
studentid = '20211011'    # 본인 학번을 작성
course = '비즈니스혁신을위한데이터사이언스응용'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1반'    #  학수번호 끝자리
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
48(GB)
Windows
10.0.22000
C:\DataScience\Lecture\[DataScience]
2022-03-21 01:44:14.436007
2022-03-23 19:06:43.064542
2022-03-23 19:06:43.064542
2022-03-24 15:15:42.950011
다음 출력을 파일명으로 설정하고 제출하시오: 김경원_20211011_비즈니스혁신을위한데이터사이언스응용_1반_InputOutput

# **프로그래밍 사고**

[![Open in Colab](http://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/cheonbi/ProgrammingPython/blob/main/Practice1-3_Basic_InputOutput_KK(Practice).ipynb)

- **필요성:** 사람마다 사용 언어와 생각 방식이 다르듯 프로그래밍 언어의 처리방식도 사람과 **`유사한 부분`** 과 **`다른 부분`** 이 존재하며 이를 이해하는 것이 필수

## 유사한부분: Y = f(X) + e

- **"세상의 모든 로직은 입력(X), 처리(f), 출력(Y), 그리고 검증(e) 프로세스로 최적화되어 표현된다"**

<center><img src='Image/Programming_IndependentStructure.png' width='600'></center>

---

<span style="color:blue">**"비즈니스 작동요소 = 조직 작동방식 = 사람 교류방식 = 컴퓨터 교류방식 =**</span><span style="color:red">**데이터과학 작동방식"**</span>

**1) 사람 교류방식 vs 컴퓨터 교류방식:**
> <center><img src='Image/Programming_ManVsComputer.png' width='800'></center>

**2) 실제 교류방식:** 반복적으로 피드백을 업데이트 하며 `관계를 업데이트`
> <center><img src='Image/Programming_RealCommunication.png' width='600'></center>

**3) 데이터과학 작동방식: 입력(x)/처리(f)/출력(y)/검증(e)**
- **이상적:**
> <center><img src='Image/Programming_BusinessProcess2.png' width='900'></center>

- **현실적:** 끊없는(?) 학습과 예측의 `무한반복` 기반, 끝인 줄 알았는데 반쪽짜리
> <center><img src='Image/DataSplit_Concept1.png' width='900'></center>
> <center><img src='Image/DataSplit_Concept2.png' width='900'></center>
> <center><img src='Image/Analysis_Process.png' width='900'></center>

## 다른부분: 같다 vs 할당한다

- **사람의 사고:** "나"와 "KK"는 같다
- **프로그래밍 사고:** "나"는 "KK"라고 할당한다(반영한다)

```python
I = "KK"
print(I)
KK
```

- **사람의 사고:** "나"와 "KK"는 같고, "너"는 "Korea"와 같고, "나"는 "너"와 같다. Why Korea?
- **프로그래밍 사고:** "나"는 "KK"로 할당하고, "너"는 "Korea"로 할당하고, "나"는 "너"로 할당했다.

```python
I = "KK"
You = "Korea"
I = You
print(I)
Korea
```

In [2]:
# Test
I = 'KK'
print(I)

KK

In [2]:
# Test

Korea

In [3]:
print(I, You)

Korea Korea

# **파이썬이 이해하는 데이터 형태**

- **목적:** 데이터분석과 프로그래밍 과정에서 파이썬이 이해할 수 있는 데이터의 형태로 입력하고 출력됨
> - Y = f(X)에서 입력(X)과 그리고 출력(Y)의 형태를 이해한다

<center><img src='Image/Basic_DataType.PNG' width='1000'></center>

- **데이터 값 핸들링:** 인덱스, 인덱싱, 슬라이싱
> - **인덱스(Index):** 데이터 값의 순서를 의미하고 Python에선 1이 아닌 0부터 순서 시작(영어권 문화)
> <center><img src='Image/Basic_Index.png' width='400'></center>
>
> - **인덱싱(Indexing):** 인덱스를 사용하여 데이터의 값을 불러오는 것
>> 데이터형[인덱스]
> ```python
'Ready'[3]    # d
[1,2,3][2]    # 3
A = 'My Name'
A[3]    # N
>```
>
> - **슬라이싱(Slicing):** 특정 인덱스가 아니라 일정 인덱스 범위의 값을 불러오는 것
> <center><img src='Image/Basic_Slicing.png' width='400'></center>
>
> ```python
A = [2,4,6,8,10,12,14]
A[2:5]
>```

## 숫자형(Numbers): 숫자의 특성을 갖는 것

In [4]:
# 10이라는 입력을 A라는 변수에 그대로 출력
# print 함수는 값을 출력하는 기능

10

In [5]:
# 기본적으로 마지막줄은 자동 출력기능이라서 print를 사용하지 않아도 됨

10

In [6]:
# 마지막줄 이외의 줄은 print, display 함수를 쓰지 않으면 자동 출력되지 않음

10

10

10

In [8]:
# A+10 입력받아 type함수로 형태를 처리하고 output에 출력
# 자료형을 확인할 때는 type 함수를 이용함

int

In [9]:
A = A + 100
print(A)

110

1110

In [11]:
# print 함수는 임의의 문자화 함께 출력 가능

Final A is  110

In [12]:
B = 3.14
type(B)

float

(int, float)

In [14]:
# 계산기처럼 쉽게 연산도 가능

113.14

In [15]:
# int와 float가 더해지면 가장 영역이 넓은 float 형태로 저장

float

## 불리언(Boolean): 참과 거짓으로 표현하는 것

In [16]:
# 0이 아닌 숫자는 True

True

In [17]:
# 비어있는 문자는 False

False

True

True

In [20]:
bool(0)

False

In [21]:
bool(1)

True

True

In [23]:
bool(False)

False

True

In [25]:
# 파이썬은 사람의 언어중 영어의 어순을 그대로 사용하는 특징
# I가 You인지 의문문을 쓰면 True/False 반환

False

In [26]:
I = You
I is You

True

## 문자열(Strings): 따옴표 안에 입력된 것

- 큰 따옴표(" ")나 작은 따옴표 (' ')로 감싸진 부분을 파이썬은 문자열로 인식
```python
'hello!'
'3.14'
"3.14"
```

- 따옴표로 감싸진 문자열 내에서 **`따옴표`** 자체를 문자열로 반영할때는 다른 종류의 따옴표 사용
```python
'오늘 수업은 "여기까지" 하겠습니다!'    # 가능
"오늘 수업은 '여기까지' 하겠습니다!"    # 가능
"오늘 수업은 "여기까지" 하겠습니다!"    # 불가능
'오늘 수업은 '여기까지' 하겠습니다!'    # 불가능
```

- 여러줄의 문자열을 반영할때는 **`따옴표 3개`** 로 감싸서 사용
```python
'오늘 수업은 
"여기까지" 하겠습니다!'    # 불가능
'''오늘 수업은
"여기까지" 하겠습니다!'''    # 가능
"""오늘 수업은
'여기까지' 하겠습니다!"""    # 가능
```

In [27]:
I = 'KK'
type(I)

str

In [28]:
Intro = 'My name is KK'
Intro

'My name is KK'

In [29]:
type(Intro)

str

In [30]:
# 다른 프로그래밍 언어와 달리 숫자가 아닌 문자로 숫자 연산 적용 가능

'My name is KKMy name is KK'

In [31]:
Intro = 'My name is KK & 1.0'
type(Intro)

str

In [32]:
# 문자열의 길이 또는 갯수

19

In [33]:
# 문자열의 원소를 선택할 때는 대괄호안에 순서를 나타내는 인덱스를 입력
# 파이썬의 순서는 "0"부터 시작함

'M'

In [34]:
Intro[1]

'y'

'0'

In [36]:
# 길이를 벗어난 인덱스를 입력하면 오류

In [37]:
# 뒤에서부터 값을 추출가능
# 뒤에서의 추출순서는 "-1"부터 시작함

'0'

In [38]:
Intro[-2]

'.'

In [39]:
# 여러개의 문자열을 선택할 때는 범위로 입력하되 [시작인텍스 이상:끝인덱스 미만] 형식
# 끝인덱스는 포함되지 않음

'My n'

In [40]:
Intro[-5:-1]

'& 1.'

In [41]:
# 시작인텍스와 끝인텍스를 생략하면 자동으로 시작이나 끝까지 임을 인식함

'My n'

'& 1.0'

In [44]:
# 더하기로 쉽게 문자열을 붙일 수 있음
# 다른 프로그래밍 언어에선 숫자가 아닌 문자에 더하기 연산 불가

'My name is KK & 1.0 Haha'

In [45]:
# 숫자를 문자로 바꾸기 위해서 str 함수를 사용
# %가 위치한 곳에 값을 입력받아 출력

'110 is your age'

'110 is your age'

In [47]:
# % 호로 여러개의 문자열 입력받아 출력 가능

'I ate 10 apples. So I was sick for three days.'

'I ate 10 apples. So I was sick for three days.'

In [49]:
number = 10
day = 'three'
'I ate {number} apples. So I was sick for {day} days.'

'I ate {number} apples. So I was sick for {day} days.'

'I ate 10 apples. So I was sick for three days.'

In [51]:
# join 함수로 반복적으로 값을 사이에 붙일 수 있음
# 접착문자열.join(리스트)
# 리스트 값들은 모두 문자열에서만 가능

'M,y, ,n,a,m,e, ,i,s, ,K,K, ,&, ,1,.,0'

'M y   n a m e   i s   K K   &   1 . 0'

In [53]:
# reversed 함수로 쉽게 값을 뒤집을 수 있음

'0.1 & KK si eman yM'

In [54]:
# Intro[시작:끝:간격]

'My name is KK & 1.0'

In [55]:
Intro[::1]

'My name is KK & 1.0'

'M aei K&10'

In [57]:
# 간격도 음수를 사용해 뒤에서 앞으로 추출 가능

'0.1 & KK si eman yM'

In [58]:
# 문자열.split(기준) 함수로 문자열 나누기
# '기준'은 쪼개고 나서 사라짐
# '기준'이 없으면 자동으로 '공백'을 기준으로 사용
# 문자열이 쪼개진 후 결과는 리스트 형태로 반환

['My', 'name', 'is', 'KK', '&', '1.0']

'My'

In [60]:
# count 함수로 문자 개수 세기

2

In [61]:
# find 함수로 위치 알 수 있음
# Intro.find(1)

16

-1

In [63]:
# Upper / Lower 함수로 대소문자 변경 가능

'MY NAME IS KK & 1.0'

'my name is kk & 1.0'

In [65]:
# replace 함수로 문자열 바꾸기

'Your name is KK & 1.0'

- **Question:** 아래 결과가 출력되도록 코딩하시오('매우'는 13번 등장함)

```python
파이썬은 매우매우매우매우매우매우매우매우매우매우매우매우매우 쉽다.
```

'파이썬은 매우매우매우매우매우매우매우매우매우매우매우매우매우 쉽다.'

- **Question:** 아래 문장에서 슬라이싱을 통해 Trial and error와 ladder 단어를 추출하여 출력하시오

```markdown
'Trial and error' is a ladder that reaching for the truth.
```

'ladder'

## 리스트(Lists): 여러개의 값을 하나로 모아서 다룰 때 사용

In [66]:
# 대괄호로 묶인 데이터를 리스트로 인식

[1, 2, 3, 4, 5]

In [67]:
type(Collection)

list

[10]

list

In [69]:
# 빈 리스트 생성

[]

list

In [70]:
# 리스트끼리 묶어서 차원을 늘릴 수도 있음

[[10], [], [1, 2, 3, 4, 5]]

list

In [72]:
Final[0]    # 0번쨰 row

[10]

[]

[1, 2, 3, 4, 5]

In [75]:
Final[2][1]    # 2번째 row에서 1번째 값

2

5

[[10]]

In [78]:
Final[:3]

[[10], [], [1, 2, 3, 4, 5]]

[[10], [], [1, 2, 3, 4, 5]]

[1, 2, 3]

In [81]:
Final[2]

[1, 2, 3, 4, 5]

In [82]:
# append 함수로 값을 추가 가능

[1, 2, 3, 4, 5, 100]

In [83]:
Final

[[10], [], [1, 2, 3, 4, 5, 100]]

In [84]:
# 더하기와 반복으로 쉽게 확장가능

[1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100]

In [85]:
# 곱하기로 쉽게 확장가능

[1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100]

In [86]:
# 길이를 구할때는 len 함수사용

3

6

In [88]:
# 숫자를 문자와 붙이려면 형태를 문자로 맞춰야 함
# Final[2][0] + ' First'

'1 First'

[1, 2, 3, 4, 5, 100]

In [90]:
# 값의 수정은 대입으로 가능

[[10], [], [100, 2, 3, 4, 5, 100]]

In [91]:
# 값의 삭제는 del 함수 사용

[[10], [], [100, 2, 3, 4, 5]]

In [92]:
# 값의 추가

In [93]:
Final

[[10], [], [100, 2, 3, 4, 5], 111]

In [94]:
# 정렬하기
# 같은 유형의 값으로만 들어있어야 비교가 가능하고 정렬이 됨

[[10], [], [2, 3, 4, 5, 100], 111]

In [95]:
# 역순정렬

[[10], [], [100, 5, 4, 3, 2], 111]

In [96]:
# 위치 반환

3

0

[100, 5, 4, 3, 2]

In [99]:
# a번째 위치에 b를 추가하는건 insert(a,b) 사용

[[10], [], [100, 6, 5, 4, 3, 2], 111]

[[10], [], [100, 6, 6, 5, 4, 3, 2], 111]

[[10], [], [100, 6, 6, 5, 4, 6, 3, 2], 111]

In [102]:
# 값의 삭제
# 여러개일 경우 맨 처음 나오는 한개만 삭제

[[10], [], [100, 6, 5, 4, 6, 3, 2], 111]

In [103]:
# 특정 값의 개수 세기

2

In [104]:
# append는 값의 추가이며 extend는 리스트 확장

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3], 111]

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3, [1, 2, 3]], 111]

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3, [1, 2, 3], 1], 111]

In [107]:
# Final[2].append(1,2)

## 튜플(Tuples): 리스트와 유사하나 순서와 값의 변경 불가

- 리스트는 값의 생성/삭제/수정이 가능하지만 저장된 값이 쉽게 바뀔수 있는 단점
- 리스트는 **`[ ]`**, 튜플은 **`( )`** 기호를 사용하여 형태를 구분
- 튜플은 값의 생성/삭제/수정이 불가하지만 그외 기능은 리스트와 동일
- 인덱스/인덱싱/슬라이싱/연산 등은 모두 가능

```python
()    # 빈 튜플
('a',)    # 값이 1개인 튜플이며 콤마는 필수!
('a', 'b', 'c')    # 값이 3개인 튜플
'a', 'b', 'c'    # 위와 동일하게 인식
```

In [108]:
KK = [1,2]
type(KK)

list

tuple

In [110]:
# 문자 숫자 결합된 튜플 가능

tuple

('a', 'b', 100)

In [112]:
# 반 튜플 생성

tuple

In [113]:
KK_test

()

In [114]:
# 리스트와 마찬가지로 값의 추출 및 연산으로 확장 가능

('a', 'b')

('b', 100)

('b', 100, 'b', 100, 'b', 100)

## 집합(Sets): 중복없는 값을 선택하거나 값을 비교할 때 사용

In [118]:
# 중복되지 않은 값들을 추출

{1, 2, 3, 4, 5}

set

{4, 5, 6, 7}

{1, 2, 3, 4, 5} {4, 5, 6, 7}

In [122]:
# 교집합, 합집합, 차집합 계산 가능

{4, 5}

{4, 5}

{1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}

{1, 2, 3}

{6, 7}

{1, 2, 3}

{6, 7}

In [130]:
left

{1, 2, 3, 4, 5}

In [131]:
# add 함수로 신규 값 추가 가능

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [133]:
# remove 함수로 기존 값 삭제 가능

{2, 3, 4, 5, 6}

In [134]:
# update 함수로 신규 값 추가 가능

{1, 2, 3, 4, 5, 6, 7}

In [135]:
# 값의 순서가 없는 자료형태이기 때문에 인덱싱으로 값에 접근하려면 리스트나 튜플로 변환해야 함
# left[0]

[4, 5, 6, 1, 7]

(4, 5, 6, 1, 7)

## 딕셔너리(Dictionaries): 짝으로 이루어진 값을 표현할 때 사용

- 중괄호기호 **`{ }`** 로 값을 묶어서 형태를 구분
- 값은 따옴표 **`Key:Value`** 를 기준으로 키(Key)와 자료(Value)를 묶어서 생성
- **Key:** 왼쪽에 있는 키는 데이터의 **`열쇠`** 와 같은 기능
> - Key는 변할수 없도록 지정하고 있어서, 변하지 않는 자료형만 사용이 가능
> - 리스트는 사용 불가하지만 튜플을 사용 가능
- **Value:** 오른쪽에 있는 값은 **`Key`** 로 꺼낼수 있는 지정된 자료
> - Key 값이 같은 Value가 2개 이상 있으면 마지막 Value만 Key에 대응되어 저장

In [138]:
# {키1:값1, 키2:값2, 키3:값3, ...}
Teacher = {'Name':'KK', 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', '1':'test'}
Teacher

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 '1': 'test'}

In [139]:
Teacher2 = {'Name':['KK', 'WW'], 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', '1':'test'}
Teacher2

{'Name': ['KK', 'WW'],
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 '1': 'test'}

- 함수의 입력값이 많아질때 별도로 처리해서 한꺼번에 입력
- 2차원 이상의 데이터를 표현

In [140]:
import pandas as pd

pd.DataFrame.from_dict(Teacher, orient='index', columns=['Example'])

             Example
Name              KK
Age              100
Birth           1104
Phone  010-0000-0000
1               test

In [141]:
pd.DataFrame.from_dict(Teacher, orient='index', columns=['Example']).T

        Name  Age Birth          Phone     1
Example   KK  100  1104  010-0000-0000  test

In [142]:
# 동일한 key가 2개 존재할 경우 이전 입력값은 무시됨

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2'}

In [143]:
# Teacher = {'Name':'KK', 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', 1:'test', [1]:'test2'}
# Teacher

In [144]:
# key 값을 추가하면 쉽게 데이터 반영
# dict[키] = 값

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2',
 'Hobby': None}

dict

'KK'

'test2'

In [148]:
# key, value 값만 추출하기

dict_keys(['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby'])

dict_values(['KK', 100, '1104', '010-0000-0000', 'test2', None])

dict_items([('Name', 'KK'), ('Age', 100), ('Birth', '1104'), ('Phone', '010-0000-0000'), (1, 'test2'), ('Hobby', None)])

dict_keys(['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby'])

['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby']

In [153]:
# 영어어순의 in 전치사로 key 존재(포함)여부 확인

True

False

In [155]:
# 딕셔너리 자료 삭제

{'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2',
 'Hobby': None}

In [156]:
# 딕셔너리 삭제

{}

# **파이썬에서 데이터의 형태 변환**

**1. 파이썬 정수 변환:** int()     
**2. 파이썬 실수 변환:** float()     
**3. 파이썬 불리언 변환:** bool()     
**4. 파이썬 문자열 변환:** str()     
**5. 파이썬 리스트/튜플/집합/딕셔너리 변환:** list()/tuple()/set()/dict()

## 정수로 변환(Int)

> 입력값을 정수형으로 변환
> - int(숫자)
> - int(불리언)
> - int(계산식)
> - int('문자열')

In [157]:
int(10)

10

In [158]:
# 3.141592 정수로 변환

3

In [159]:
# True 정수로 변환

1

In [160]:
# 5를 2로 나누고 정수로 변환

2

In [161]:
# 숫자형태의 문자 10을 정수로 변환

10

In [162]:
# 문자는 기본적으로 정수 변환 불가

## 실수로 변환(Float)

> 입력값을 실수형으로 변환
> - float(숫자)
> - float(불리언)
> - float(계산식)
> - float('문자열')

In [163]:
float(5)

5.0

In [164]:
# 3.141592 실수로 변환

3.141592

In [165]:
# False 실수로 변환

0.0

In [166]:
# True 실수로 변환

1.0

In [167]:
# 1 + 2 연산 후 실수로 변환

3.0

In [168]:
# 숫자형태의 문자를 실수로 변환

5.3

In [169]:
# True 불리언을 복소수로 변환

(1+0j)

## 불리언으로 변환(Bool)

> 입력값을 불리언형으로 변환(숫자의 경우 **`0인지`** 여부, 문자의 경우 **`비어있는지`** 여부)
> - bool(숫자)
> - bool(불리언)
> - bool(계산식)
> - bool('문자열')

In [170]:
bool(54)

True

In [171]:
# 0을 불리언으로 변환

False

In [172]:
# 3.141592 불리언으로 변환

True

In [173]:
# 0.00 불리언으로 변환

False

In [174]:
# 1-1 연산결과 불리언으로 변환

False

In [175]:
# 1-2 연산결과 불리언으로 변환

True

In [176]:
# 2-1 연산결과 불리언으로 변환

True

In [177]:
# True 불리언으로 변환

True

In [178]:
# KK 문자 불리언으로 변환

True

In [179]:
# 빈문자 불리언으로 변환

False

In [180]:
# 공백문자 불리언으로 변환

True

## 문자열로 변환(Str)

> 입력값을 문자열형으로 변환    
>
> 출력값은 문자열형을 의미하는 따옴표가 반드시 동반    
>
> - str(숫자)
> - str(불리언)
> - str(계산식)
> - str('문자열')

In [181]:
# 숫자를 문자열로 변환

'10'

In [182]:
# 3.141592 문자열로 변환

'3.141592'

In [183]:
# True를 문자열로 변환

'True'

In [184]:
# False를 문자열로 변환

'False'

In [185]:
# 숫자형태 문자 2를 문자열로 변환

'2'

In [186]:
# 문자 KK 문자열로 변환

'KK'

## 리스트/튜플/집합/딕셔너리 변환

In [187]:
# (1,2) 튜플을 리스트로 변환

[1, 2]

In [188]:
# [1,2] 리스트를 튜플로 변환

(1, 2)

In [189]:
# [1,2,2] 리스트를 집합으로 변환

{1, 2}

In [190]:
# [[1,2],[3,4]] 리스트를 딕셔너리로 변환

{1: 2, 3: 4}

dict

In [192]:
x

{'a': 1, 'b': 2, 'c': 3}

In [193]:
# x 딕셔너리를 리스트로 변환

['a', 'b', 'c']

In [194]:
# x 딕셔너리를 튜플기반 리스트로 변환
temp = []
for i in x:
    temp.append((i, x[i]))
    
temp

[('a', 1), ('b', 2), ('c', 3)]

list

[('a', 1), ('b', 2), ('c', 3)]

dict

{'a': 1, 'b': 2, 'c': 3}

# **파이썬이 사용하는 연산의 형태**

- **목적:** 실제 생활에서 사람이 생각(f)하는 사칙연산과 수리적 로직을 파이썬 방식으로 이해
> - **산술연산자(Arithmetic Operator)**
> - **할당연산자(Assignment Operator)**
> - **비교연산자(Comparison Operator)**
> - **논리연산자(Logical Operator)**
> - **식별연산자(Identity Operator)**
> - **멤버연산자(Menbership Operator)**

## 산술연산자(Arithmetic Operator): 수학 연산을 위해 사용

| 산술연산자 |  기능  |
|:----------:|:------:|
|     A + B    | 더하기 |
|     A - B    |  빼기  |
|     A * B    | 곱하기 |
|     A / B    | 나누기 |
|     A % B    | 나머지 |
|    A ** B    |  제곱  |
|    A // B    |   몫   |
|   divmod(A,B)   | (몫, 나머지) |

In [199]:
1 + 1

2

In [200]:
3 - 2

1

In [201]:
2 * 2

4

In [202]:
4 / 2

2.0

In [203]:
5 % 2

1

In [204]:
3 ** 3    # 3 * 3 * 3

27

In [205]:
7 / 2

3.5

In [206]:
7 // 2

3

In [207]:
# 몫과 나머지 함께 구하기

(2, 1)

In [208]:
# quotient = divmod(5,2)[0]
# remainder = divmod(5,2)[1]

2 1

In [210]:
# 실수 계산부터는 오차가 발생

1.5999999999999996

In [211]:
# 실수와 정수의 계산은 표현 범위가 넓은 실수로 계산

9.2

## 할당연산자(Assignment Operator): 값을 반영하기 위해 사용

| 할당연산자 |                        기능                        |
|:----------:|:--------------------------------------------------:|
|     A = B    |             왼쪽 값에 오른쪽 값을 할당             |
|    A += B    |       왼쪽 값을 오른쪽에 더한 후, 왼쪽에 할당      |
|    A -= B    |        왼쪽 값을 오른쪽에 뺀 후, 왼쪽에 할당       |
|    A *= B    |       왼쪽 값을 오른쪽에 곱한 후, 왼쪽에 할당      |
|    A /= B    |       왼쪽 값을 오른쪽에 나눈 후, 왼쪽에 할당      |
|    A %= B    | 왼쪽 값을 오른쪽에 나눈 후, 나머지값을 왼쪽에 할당 |

In [212]:
x = 5
x

5

In [213]:
x = 5
# x = x + 3
x += 3
x

8

In [214]:
x = 5
# x = x - 3
x -= 3
x

2

In [215]:
x = 5
# x = x * 3
x *= 3
x

15

In [216]:
x = 5
# x = x / 3
x /= 3
x

1.6666666666666667

In [217]:
x = 5
# x = x % 3
x %= 3
x

2

## 비교연산자(Comparison Operator): 두 값을 비교하기 위해 사용

| 비교연산자 |              기능             |
|:----------:|:-----------------------------:|
|    A == B    |              같음             |
|    A != B    |           같지 않음           |
|     A > B    |      왼쪽이 오른쪽보다 큼     |
|     A < B    |      오른쪽이 왼쪽보다 큼     |
|    A >= B    | 왼쪽이 오른쪽보다 크거나 같음 |
|    A <= B    | 오른쪽이 왼쪽보다 크거나 같음 |

In [218]:
5 == 3

False

True

In [220]:
4 > 3

True

False

In [222]:
6 >= 6

True

True

## 논리연산자(Logical Operator): 여러 조건/상황을 반영하기 위해 사용

| 논리연산자 |             기능             |
|:----------:|:----------------------------:|
|    A and B   |    양쪽이 모두 참이면 True   |
|    A or B    | 양쪽 중 하나라도 참이면 True |
|     not A   |     오른쪽이 False면 True    |

In [224]:
# 2는 5보다 작고 그리고 3은 10보다 작은가?

True

In [225]:
# 2는 4보다 작고 또는 7은 5보다 작은가?

True

In [226]:
# "3은 4보다 작고 그리고 5는 2보다 작다" 가 아닌것은 무엇인가?

True

## 식별연산자(Identity Operator): 동일여부 비교하기 위해 사용

| 식별연산자 |        기능        |
|:----------:|:------------------:|
|    A is B    | 양쪽이 같으면 True |
|  A is not B  | 양쪽이 다르면 True |

In [227]:
x = 'KK'
y = 'KK'
# x 와 y는 같은가?

True

In [228]:
# x 와 y는 같은가?

True

In [229]:
x = 'KK'
y = 'Korea'
# x 와 y는 같은가?

False

In [230]:
x = 'KK'
y = 'Korea'
# x 와 y는 다른가?

True

## 멤버연산자(Menbership Operator): 포함여부 확인하기 위해 사용

| 멤버연산자 |                기능                |
|:----------:|:----------------------------------:|
|    A in B    |     값이 오른쪽에 포함되면 True    |
|  A not in B  | 값이 오른쪽에 포함되지 않으면 True |

In [231]:
list_test = ['KK', 'Korea']
# 'KK' 문자열은 list_test에 포함되는가?

True

In [232]:
# 'KKK' 문자열은 list_test에 포함되는가?

False

In [233]:
# 'KKK' 문자열은 list_test에 포함되지 않는가?

True

## 연산의 우선순위(Priority): 여러개 연산시 우선순위부터 계산

> - 괄호가 있으면 먼저 계산하고 나머지는 우선순위대로 계산
> - 우선순위가 같다면 왼쪽 항부터 계산

| 우선순위 | 연산자 | 설명 |
|:---:|:---:|:---:|
| 1 | (값...), [값...], {키: 값...}, {값...} | 튜플, 리스트, 딕셔너리, 세트 생성 |
| 2 | x[인덱스], x[인덱스:인덱스], x(인수...), x.속성 | 리스트(튜플)   첨자, 슬라이싱, 함수 호출, 속성 참조 |
| 3 | await   x | await 표현식 |
| 4 | ** | 거듭제곱 |
| 5 | +x, -x, ~x | 단항 덧셈(양의 부호), 단항 뺄셈(음의 부호), 비트 NOT |
| 6 | *, @, /, //, % | 곱셈, 행렬 곱셈, 나눗셈, 버림 나눗셈, 나머지 |
| 7 | +, - | 덧셈, 뺄셈 |
| 8 | <<, >> | 비트 시프트 |
| 9 | & | 비트 AND |
| 10 | ^ | 비트 XOR |
| 11 | \| | 비트 OR |
| 12 | in, not   in, is, is not,   <, <=, >, >=, !=, == | 포함 연산자, 객체 비교 연산자, 비교 연산자 |
| 13 | not   x | 논리   NOT |
| 14 | and | 논리 AND |
| 15 | or | 논리 OR |
| 16 | if else | 조건부 표현식 |
| 17 | lambda | 람다 표현식 |

- **Question:** 하기 출력을 실행하고 각 계산마다 어떤 순서로 계산하는지 주석(#)으로 서술하시오
```python
print(2 ** 2 ** 3)
print(5 - 2 * 3 ** 4 // (( 5 + 6) % 7 ) / 8 )
print(3 + 4 * 4 > 5 * 7 - 1)
```

In [234]:
print(2 ** 2 ** 3)

256

In [235]:
# 위 결과 출력 순서 작성
# 1)
# 2)
# ...

In [236]:
print(5 - 2 * 3 ** 4 // (( 5 + 6) % 7 ) / 8 )

0.0

In [237]:
# 위 결과 출력 순서 작성
# 1)
# 2)
# ...

In [238]:
print(3 + 4 * 4 > 5 * 7 - 1)

False

In [239]:
# 위 결과 출력 순서 작성
# 1)
# 2)
# ...

In [3]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputOutput'    # 고정값
name = '김경원'    # 본인 이름을 작성
studentid = '20211011'    # 본인 학번을 작성
course = '비즈니스혁신을위한데이터사이언스응용'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1반'    #  학수번호 끝자리
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
48(GB)
Windows
10.0.22000
C:\DataScience\Lecture\[DataScience]
2022-03-21 01:44:14.436007
2022-03-24 15:16:47.278880
2022-03-24 15:16:47.278880
2022-03-24 15:17:12.318420
다음 출력을 파일명으로 설정하고 제출하시오: 김경원_20211011_비즈니스혁신을위한데이터사이언스응용_1반_InputOutput