In [1]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'ConditionLoop'    # 고정값
name = '김경원'    # 본인 이름을 작성
studentid = '20211011'    # 본인 학번을 작성
course = '비즈니스혁신을위한데이터사이언스응용'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1반'    #  학수번호 끝자리
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
48(GB)
Windows
10.0.22000
C:\DataScience\Lecture\[DataScience]
2022-03-21 01:44:14.436007
2022-04-04 13:02:29.471007
2022-04-04 13:02:29.471007
2022-04-04 13:08:39.243454
다음 출력을 파일명으로 설정하고 제출하시오: 김경원_20211011_비즈니스혁신을위한데이터사이언스응용_1반_ConditionLoop

# **파이썬 조건문(Condition Statements): 조건에 따라 어떻게 행동할지 결정하자**

[![Open in Colab](http://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/cheonbi/ProgrammingPython/blob/main/Practice1-5_Basic_ConditionLoop_KK(Practice).ipynb)

- **목적:** 입력을 하거나 데이터를 처리 및 출력할 때, 특정 조건인 경우 실행되게 하는 기능

> - 조건이 참(True) 또는 거짓(False)으로 나뉨
> - 주로 논리 연산자와 산술 연산자와 함께 사용
> - 조건문 뒤에 만드시 콜론(:) 붙이는 것이 문법
>> - 콜론이 등장하면 그 다음 줄부터 무조건 들여쓰기 함
> - 다른 프로그래밍과의 차이는 괄호로 묶여 구분하지 않고 들여쓰기로 영역 구분
> - 조건에 따라 해당 조건에 맞는 상황을 실행 할 수 있게 됨

## if / elif / else

> **"만약 x가 10이면, '10입니다.'를 출력하라!"**
<center><img src='Image/Condition_Structure.png' width='600'></center>

```python
if 조건식:
    실행할 명령
```

---

```python
if 내일 비가 온다:
    집에서 TV본다
```

In [1]:
money = 1000

if money >= 500: 
    print("돈이 500원 이상 있습니다.")

돈이 500원 이상 있습니다.

In [2]:
money = 100

if money >= 500: 
    print("돈이 500원 이상 있습니다.")

In [3]:
money >= 500

False

> **"만약 x가 10이면, '10입니다.'를 출력하라!"**    
> **"아니면 '10이 아닙니다.'를 출력하라!"**
> ```python
if x == 10:
    print('10입니다.')
else:
    print('10이 아닙니다.')

---

```python
if 조건식:
    실행할 명령1
else:
    실행할 명령2
```

---

```python
if 내일 비가 온다:
    집에서 TV본다
else:
    밖에서 산택한다
```

In [4]:
# 돈이 100원일 때 "돈이 500원 미만 입니다." 출력하기

돈이 500원 미만 입니다.

In [5]:
# # 명령어 사용 후 들여쓰기 기준 할당 내용이 없으면 오류

In [6]:
money = 100

if money >= 500: 
    print("돈이 500원 이상 있습니다.")
else:
    print("돈이 500원 미만 입니다.")
print("허허..")

돈이 500원 미만 입니다.
허허..

In [7]:
money = 500

if money >= 500: 
    print("돈이 500원 이상 있습니다.")
else:
    print("돈이 500원 미만 입니다.")
print("허허..")

돈이 500원 이상 있습니다.
허허..

In [8]:
# 돈이 500일때와 아닐때를 실행해서 비교

돈이 500원 이상 있습니다.

> **"if ~ elif ~ else"**
> - if와 else는 한번만 사용할 수 있지만, elif는 여러번 사용 가능
> - elif는 단독으로 사용할 수 없고 if와 else 사이에만 와야 함
> - else와 elif는 if 없이 혼자 쓸 수 없음

```python
if 조건식1:
    실행할 명령1
elif (조건1은 거짓인데) 조건식2:
    실행할 명령2
else: (조건 1,2 모두 거짓이면)
    실행할 명령3
```

---

```python
if 내일 비가 온다:
    집에서 TV본다
elif (비는 안오는데) 내일 덥다:
    집에서 에어컨 켜고 TV본다
else: (비도 안오고 안더우면)
    밖에서 산택한다
```

In [9]:
# 돈이 500원이 있을 때 "돈이 딱 500원 있습니다." 출력하기

In [10]:
money > 500

False

In [11]:
# 들여쓰기 위치에 따른 출력 확인

돈이 500원 미만 입니다.

In [12]:
money = 500

if money > 500: 
    print("돈이 500원 이상 있습니다.")
if money == 500:
    print("돈이 딱 500원 있습니다.")
else:    # money != 500
    print("돈이 500원 미만 입니다.")

돈이 딱 500원 있습니다.

In [13]:
# 동일 들여쓰기 위치에 if문이 있으면 반복적으로 if문 실행

돈이 500원 이상 있습니다.
돈이 500원 미만 입니다.

In [14]:
# if ~ elif ~ else 사용하여 돈이 5000원 있을 때 "돈이 500원 이상 있습니다." 출력하기

돈이 500원 이상 있습니다.

In [15]:
# if ~ elif ~ else 사용하여 돈이 500원 있을 때 "돈이 딱 500원 있습니다." 출력하기

돈이 딱 500원 있습니다.

In [16]:
# if ~ elif ~ else 사용하여 돈이 50원 있을 때 "돈이 500원 미만 입니다." 출력하기

돈이 500원 미만 입니다.

In [17]:
# elif를 사용하지 않고 돈이 500원 있을 때 "돈이 딱 500원 있습니다." 출력하기
# 위에 있는 코드를 동일하게 복제

돈이 딱 500원 있습니다.

In [18]:
# # elif로 시작할 수 없음

In [19]:
# # 조건문 사용 후 명령이 없으면 오류

In [20]:
# 조건문 사용 후 명령이 없거나 나중에 반영하고 싶을 때 pass 사용하면 오류 미발생

In [21]:
# 예시

In [22]:
# 예시

5000은 아닌가벼!

In [23]:
# 조건문과 명령을 한줄에 줄여서 사용해도 실행은 가능
# (초급인경우) 실사용은 권장하지 않음

5000은 아닌가벼!

In [24]:
# # 진행할 명령어도 없는데 들여쓰기를 하면 에러 발생

In [25]:
# 조건문 이하 명령은 여러줄 실행 가능

x에 들어있는 숫자는
10입니다.

In [26]:
# 조건문이 관할하는 명령문은 오로지 들여쓰기 기준으로만 판단

x에 들어있는 숫자는
10입니다.

In [27]:
# 예시

10입니다.

- **Question:** 아래 코드에서 x의 값이 10이 아닐때 `ok`가 출력되도록 하시오

```python
x = 5

if __________:
    print(____)
```

- if, elif는 여러개 있더라도 하나만 참인 경우만 실행되며, elif는 같은 if절로 취급

```python
if 조건문1:
    실행할 명령11
    실행할 명령21
elif 조건문2:
    실행할 명령21
    실행할 명령22
elif 조건문3:
    실행할 명령31
    실행할 명령32
else:
    실행할 명령41
    실행할 명령42
```

In [28]:
# if문을 동일 들여쓰기에서 반복하면 모두 실행됨

10
20
30

In [29]:
# elif는 여러번 사용가능

10

In [30]:
# 예시

20

## 조건식의 특수경우

In [31]:
# 조건식에 True / False에 대응되는 불리언 사용가능

참
거짓
거짓

In [32]:
# 예시

False

- 0이면 `거짓`, 0이 아닌 수는 `참`

In [33]:
# 조건식에 True / False에 대응되는 숫자 사용가능

거짓
참
참
참
참

- 빈 문자열은 `거짓`, 그렇지 않으면 모두 `참`

In [34]:
# 조건식에 True / False에 대응되는 문자열 사용가능

참
참
거짓

- **(주의) `0, None, ''`은 False로 취급하므로 else가 동작할 수 있음!**

In [35]:
if not 0:    # not A
    print('참')    # not 0은 참
 
if not None:
    print('참')    # None은 참
 
if not '':
    print('참')    # not 빈 문자열은 참

참
참
참

- **요약:** `False`로 취급하는 것들

> 1. None
> 2. False
> 3. 0인 숫자: 0, 0.0, 0j
> 4. 비어있는 문자열/리스트/튜플/세트/딕셔너리: '', "", [], (), set(), {}
> 5. __bool__(), __len__() 등의 함수가 False 또는 0을 반환하는 경우들

## 여러개의 조건식 결합

In [36]:
# 조건식은 여러개를 사용하여 판단케 할 수 있음

참

In [37]:
# if문을 반복적용하여 예시 생성

20보다 작은 양수입니다.

In [38]:
# if문만 사용해서 위 코드를 변환

20보다 작은 양수입니다.

In [39]:
# if문만 사용해서 위 코드를 변환
# 다른 언어와 달리 부등호 여러개 동시에 적용 가능

20보다 작은 양수입니다.

- **Question:** 필기 시험 점수가 80점 이상이며 동시에 코딩 시험을 통과(True)하면 합격인 아래의 조건식을 완성하여 합격/불합격 여부를 출력하시오

```python
written_test = 75
coding_test = True

if ________________:
    print('합격')
else:
    print('불합격')
```

In [40]:
written_test = 75
coding_test = True

# 불합격 출력

- **Question:** 변수 x가 11과 20 사이면 `11~20`, 21과 30 사이면, `21~30`, 어디도 해당하지 않으면 `아무것도 해당하지 않음`을 출력하는 조건문을 만들어 아래의 변수값에 따른 결과를 출력하시오

In [41]:
x = 5

# 조건문 작성 및 결과 출력

In [42]:
x = 15

# 조건문 작성 및 결과 출력

In [43]:
x = 25

# 조건문 작성 및 결과 출력

- **Question:** 조건문을 사용하여 1~9999 까지의 숫자 중 하나가 입력(`input` 함수 사용)되면, 몇 자리의 숫자인지 판별하는 App 프로그램을 만들어 보시오. 1) 테스트로 셀을 실행 후 10을 입력하였을 때 `두 자리 숫자입니다`를 출력하고, 2) 셀을 실행 후 999를 입력하였을 때 `세 자리 숫자입니다`를 출력하시오

```python
# 예시
# input 함수를 사용해서 10을 입력
num = 

# 프로그램

# 출력
`두 자리 숫자입니다`
```

In [44]:
# 1)

In [45]:
# 2)

- **Question:** 시험점수가 90점 이상인 학생에게는 `A`, 80점 이상인 학생에게는 `B`, 59점 이하인 학생에게는 `F`를 부여합니다. 이 모든 경우에 해당하지 않는 경우는 `C`를 부여하는 성적 출력 App 프로그램을 만들고 아래 예시처럼 실행하여 어떤 학점이 출력되는지 확인하시오

```python
# 예시
# input 함수를 사용해서 75점을 입력
score = 

# 프로그램

# 출력
'A' or 'B' or 'C' or 'F'
```

# **파이썬 반복문(Loop): 반복행동을 처리하자**

- 비슷한 작업을 반복해야 한다면 **`반복문`** 을 사용할 것
> **반복문:** 어떤 범위 안에서 특정 명령을 반복하는 구문
>
>
> - **while문:** 조건을 만족할 동안만 반복 (조건문이 참/거짓 여부에 따라 반복)
> - **break/continue문:** 반복문을 제어하기
> - **for문:** 일정한 횟수만 반복 (값이나 요소를 하나씩 가져오면서 반복)

## while문

> - 조건식을 품고 있으며, 조건식이 참이면 명령을 반복하고 그렇지 않으면 반복문을 빠져나옴
> - if문을 반복적으로 수행하는 것이 while문
> - 조건을 만족하는 동안 명령을 **`계속 반복`** 해야 할 떄 사용

```python
if 조건식:
    실행할 명령
```

```python
while 조건식:
    실행할 명령
```

```python
초기식
while 조건식:
    실행할 명령
    변화식
```

---

- **물이 100도 미만이면 `한번만` 물을 가열해**
```python
if 물 < 100:
    가열해
```

- **물이 100도 미만이면 `계속` 물을 가열해 = 물이 100도 미만 동안(while) 물을 가열해**
```python
while 물 < 100:
    가열해
```

- **물이 100도 미만이면 `계속` 물을 가열하고 `온도` 를 체크해**
```python
온도 = 0
while 물 < 100:
    가열해
    온도 = 온도 + 1
```

In [46]:
i = 0                     # 초기식
while i < 10:             # while 조건식
     print('Hello, world!')    # 반복할 코드
     i = i + 1                    # 변화식

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

| i | 조건식 | 조건판단 | 수행 문장 | while문 |
|---|---|---|---|---|
| 0 | 0 < 10 | 참 | Hello, world! | 반복 |
| 1 | 1 < 10 | 참 | Hello, world! | 반복 |
| 2 | 2 < 10 | 참 | Hello, world! | 반복 |
| 3 | 3 < 10 | 참 | Hello, world! | 반복 |
| 4 | 4 < 10 | 참 | Hello, world! | 반복 |
| 5 | 5 < 10 | 참 | Hello, world! | 반복 |
| 6 | 6 < 10 | 참 | Hello, world! | 반복 |
| 7 | 7 < 10 | 참 | Hello, world! | 반복 |
| 8 | 8 < 10 | 참 | Hello, world! | 반복 |
| 9 | 9 < 10 | 참 | Hello, world! | 반복 |
| 10 | 10 < 10 | 거짓 |  | 종료 |

In [47]:
# 반복할 명령과 반복변수 동시 출력

Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [48]:
# 반복할 명령과 반복변수 동시 출력

Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [49]:
# # 변수를 입력받아 반복문 사용 가능

In [50]:
# # 변수를 입력받아 반복문 사용 가능

## while문의 유용한 케이스

- 일반적으로 while문은 반복 횟수는 정해지지 않은 경우 유용 -> **`무한루프`**
- 우리가 사용하는 프로그램 중 **`무한루프`** 개념을 사용하지 않는 프로그램은 거의 없음(ex. 자판기)

In [51]:
import random    # random 모듈을 가져옴

In [52]:
# 1과 6사이의 랜덤한 수 하나를 출력하며 실행할때마다 랜덤하게 출력

5

In [53]:
# 랜덤 값이 3이 나올때까지 멈추지 않는 반복문 실행

2
2
6
5
5
5
4
6
6
6
6
2
3

In [54]:
# # 무한루프 실행 가능 (무한루프는 대부분의 전자기기에 필수)

In [55]:
# # True에 대응되는 숫자 사용가능

In [56]:
# # True에 대응되는 문자 사용가능

- **Question:** 2개의 변수 x와 y를 변화시키는 반복문을 작성하시오. 출력되는 결과는 아래와 같고 x와 y가 함께 출력되어야 합니다.

```python
# 입력
x = 2
y = 5

# 프로그램
___________ or ______:
    print(x, y)
    __________
    __________

# 출력
2 5
4 4
8 3
16 2
32 1
```

In [57]:
x = 2
y = 5

# while

## break/continue문

- **break:** 반복문을 제어/중단 시키고 반복문을 빠져나옴, **`무한루프 강제종료`** 제격
- **continue:** 조건식 기반 반복으로 명령을 실행하다, continue를 만나면 아래 명령을 건너뛰고 조건식으로 올라감

In [58]:
i = 0
while True:    # 무한 루프
    print(i)
    i = i + 1          # i를 1씩 증가시킴
    if i == 10:     # i가 10일 때
        break       # 반복문을 끝냄. while의 제어흐름을 벗어남

0
1
2
3
4
5
6
7
8
9

In [59]:
i = 0
while i < 10:         # i가 10보다 작을 때 반복. 0부터 9까지 증가하면서 10번 반복
    i = i + 1            # i를 1씩 증가시킴
    if i % 2 == 0:    # i를 2로 나누었을 때 나머지가 0이면 짝수
        continue      # 아래 코드를 실행하지 않고 조건식 이하를 건너뜀
    print(i)

1
3
5
7
9

In [60]:
# # 멈추기 위해서는 kernel - interrupt

In [61]:
# i = 1
# while i:         # i가 10보다 작을 때 반복. 0부터 9까지 증가하면서 10번 반복
#     i = i + 1            # i를 1씩 증가시킴
#     continue      # 아래 코드를 실행하지 않고 조건식 이하를 건너뜀
#     print(i)

In [62]:
# # 반복횟수를 입력받아 i를 출력하시오

- **Question:** 입력한 숫자까지 해당하는 홀수를 출력하시오

```python
count = int(input('반복할 횟수를 입력하세요: '))
 
i = 0
while True:
    i = i + 1
    __________
        ______
    __________
        ______     
```

- **Question:** 0과 100사이의 숫자 중 끝자리가 6으로 끝나는 숫자만 출력하시오

```python
i = 0
while True:
    if __________
        __________
        continue
    if __________
        break
    print(i)
    ____________
```

In [63]:
# 무인자판기 생성 
# 커피 10잔이 판매되면 자동 종료
# 커피 1잔은 300원
# 잔돈 계산까지 진행

## for문

- 일반적으로 for문은 **`반복 횟수`** 가 정해진 경우 사용
- **`반복 횟수`** 는 시퀀스 데이터 형을 사용
- 조건식이 없는 유한개의 횟수만큼 **`명령`** 을 실행

```python
for 변수 in 반복횟수:
    실행할 명령
```

<center><img src='Image/Condition_For.png' width='600'></center>

- **`변수`** 는 정해진 이름이 없이 아무거나 사용 가능
- while문과 비슷하지만 직관적이며 문장 구조가 심플한 편

In [64]:
# range 시퀀스 내장함수를 사용하여 'Hello, world!' 10회 출력

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [65]:
# range 시퀀스 내장함수를 사용하여 'Hello, world!'와 반복횟수 출력

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [66]:
# 5이상 10미만 회 'Hello, world!'와 반복횟수 출력

Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [67]:
# 0이상 10미만 2간격 'Hello, world!'와 반복횟수 출력

Hello, world! 0
Hello, world! 2
Hello, world! 4
Hello, world! 6
Hello, world! 8

In [68]:
# range 함수의 간격은 증가가 기본이기 때문에 미실행

In [69]:
# 10이상 0미만 -1간격 'Hello, world!'와 반복횟수 출력

Hello, world! 10
Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [70]:
# 9이상 -1미만 -1간격 'Hello, world!'와 반복횟수 출력

Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1
Hello, world! 0

In [71]:
# reversed 함수사용 9이상 -1미만 -1간격 'Hello, world!'와 반복횟수 출력

Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1
Hello, world! 0

In [72]:
# # 반복횟수를 입력받아 'Hello, world!'와 반복횟수 출력

In [73]:
# 시퀀스 숫자 반복 가능

10
20
30
40
50

In [74]:
# 시퀀스 튜플 반복 가능

apple
orange
grape

In [75]:
# 시퀀스 리스트 내 2개 출력씩 반복 가능

3
7
11

In [76]:
# 시퀀스 문자열 반복 가능

P y t h o n

In [77]:
# 시퀀스 역 문자열 반복 가능

n o h t y P

- **Question:** for문을 사용하여 아래 리스트 각 요소에 10을 곱한 값들을 한줄로 출력하시오

```python
x = [49, -17, 25, 102, 8, 62, 21]

for __________:
    print(__________)
```

In [78]:
x = [49, -17, 25, 102, 8, 62, 21]

# for

- **Question:** for문과 if~else문을 사용하여 아래 리스크 각 요소가 홀수인 경우 `2배`를 짝수인 경우 `-2배`를 출력하시오

```python
x = [1, 2, 3, 4, 5]

for ______:
    if ______:
        ______
        print(i)
    else:
        ______
        print(i)
```

In [79]:
# 예상출력: 2 -4 6 -8 10
x = [1, 2, 3, 4, 5]

# for

- **Question:** 총 10명의 학생 시험 점수가 있다. 60점이 합격 커트라인이라고 할때 10명의 학생이 합격인지 불합격인지 출력하는 프로그램을 작성하라. 학생의 이름은 1번부터 10번까지로 차례대로 부여하며 아래와 같은 결과가 출력되어야 한다.

```python
# 입력
scores = [90, 25, 67, 45, 80, 45, 100, 67, 55, 90]

# 프로그램

# 출력
1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.
6번 학생은 불합격입니다.
7번 학생은 합격입니다.
8번 학생은 합격입니다.
9번 학생은 불합격입니다.
10번 학생은 합격입니다.
```

In [80]:
scores = [90, 25, 67, 45, 80, 45, 100, 67, 55, 90]

## 반복문의 중첩

- 반복문에 반복문이 들어가는 것 중첩루프 또는 다중루프 라고 함
- for문에 while문이 또는 while문에 for문이 들어갈 수 있음
- 2차원 이상의 데이터 입력이나 연산은 아주 자주 사용됨

In [81]:
for i in range(5):          # 바깥쪽 루프
    for j in range(5):      # 안쪽 루프
        print('j:', j, sep='', end=' ')    # j값 출력. end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\\n', sep='')    # i값 출력, 개행 문자 모양도 출력

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [82]:
# 5개의 행 7개의 열에 별을 출력
for i in range(5):            # 바깥쪽 루프
    for j in range(7):        # 안쪽 루프
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()                   # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감

*******
*******
*******
*******
*******

In [83]:
# 5개의 행 별의 갯수가 증가되도록 출력

*
**
***
****
*****

- **Question:** 위 예를 참고하여 대각선 방향으로 별이 1개씩만 출력하시오

- **Question:** 반복문을 2개 중첩하여 구구단 2단부터 9단까지 출력하는 프로그램을 만드시오

```python
# 출력
2 * 1 = 2
...
9 * 9 = 81
```

- **Question:** 1에서 100까지의 숫자를 출력하는데 아래와 같이 `3의 배수`, `5의 배수`, 그리고 `3과 5의 공배수`에서는 정해진 문자를 출력하시오

1. 3의 배수는 `홀수입니다` 출력
2. 5의 배수는 `나도 홀수입니다` 출력
3. 3과 5의 공배수는 `나는뭐지?` 출력

```python
# 출력
1
2
'홀수입니다'
4
'나도 홀수입니다'
'홀수입니다'
7
...
```

## List Comprehension

> - 파이썬에선 리스트 내포를 이용해서 함수를 훨씬 직관적이고 짧은 코드로 변환 가능(가독성 좋아짐)
> - List 내부에 for문과 if문을 사용할 수 있기에 가능
> - 식으로 지정되어 생성할 출력을 List로 표현하는 것

```python
[출력식 for 변수 in 반복]
list(출력식 for 변수 in 반복)
```

In [84]:
# 0부터 9까지의 숫자를 생성 및 저장

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
# 파이썬 언어의 특수 기능으로 이런 효율적 코드가 파이썬 활용의 핵심
# 영어의 어순 참고
# (I need) i which is in 0~9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
# 대괄호와 list() 방식 중 대괄호 방식이 훨씬 빠름고 list()는 C언어 스타일에서 따옴

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# 변수의 연산 값 생성 가능

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [88]:
result = []
for i in range(10):
    result.append(i+5)
    
result

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [89]:
# 위와 동일한 출력을 list comprehension 방식으로 출력

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [90]:
# 0이상 10미만 값들을 2를 곱하여 리스트 출력

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

```python
for 변수 in 반복:
    if 조건식:
        출력식
    else:
        다른출력
        
[출력식 for 변수 in 반복 if 조건식 else 다른출력]
list(출력식 for 변수 in 반복 if 조건식 else 다른출력)
```

In [91]:
# 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성

[0, 2, 4, 6, 8]

In [92]:
# 위의 결과를 일반적인 반복문 및 조건문으로 구현

[0, 2, 4, 6, 8]

In [93]:
# 0~9 숫자 중 홀수에 5를 더하여 리스트 생성

[6, 8, 10, 12, 14]

```python
[출력식 for 변수1 in 반복1 
        for 변수2 in 반복2 if 조건식 else 다른출력]

[출력식 for 변수1 in 반복1 
        for 변수2 in 반복2
        ... 
        for 변수n in 반복n if 조건식 else 다른출력]

[변수1 + 변수2 + ... + 변수n for 변수1 in 반복1 
        for 변수2 in 반복2
        ... 
        for 변수n in 반복n if 조건식 else 다른출력]
        
list(출력식 for 변수1 in 반복1 
            for 변수2 in 반복2
            ... 
            for 변수n in 반복n if 조건식 else 다른출력)
```

- **Question:** 다음 리스트 중 홀수에만 2를 곱하여 저장하는 코드가 있다 이를 `리스트 내포`를 사용하여 변환하라.

```python
# 입력
numbers = [1, 2, 3, 4, 5]

# 프로그램
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
        
# 출력
# 예상결과: [2, 6, 10]
result
```

In [94]:
# 입력
numbers = [1, 2, 3, 4, 5]

# 프로그램 및 출력
# 예상결과: [2, 6, 10]

- **Question:** 리스트 표현식을 사용하여 구구단을 출력하시오 리스트 내부 요소 출력 형식은 `2 * 1 = 2`

## 차원증가

```python
리스트 = [[값, 값], [값, 값], [값, 값]]
```

In [95]:
# 1차원 데이터

[10, 20]

In [96]:
# 2차원 데이터의 세팅

[[10, 20], [30, 40], [50, 60]]

In [97]:
# 2차원 데이터의 세팅

[[10, 20], [30, 40], [50, 60]]

In [98]:
# 데이터의 행의수와 열의수 출력

(3, 2)

In [99]:
# 행렬의 내부 값 선택

[10, 20]

In [100]:
# 행렬의 내부 값 선택

[30, 40]

In [101]:
a[0]

[10, 20]

In [102]:
# 행렬의 내부 값 선택

10

In [103]:
a[0][1]

20

In [104]:
# 행렬의 내부 값 치환

[[10, 1000], [30, 40], [50, 60]]

- 톱니형 리스트(Jagged List) 생성 가능

In [105]:
a = [[10, 20],
     [500, 600, 700],
     [9],
     [30, 40],
     [8],
     [800, 900, 1000]]
a

[[10, 20], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

In [106]:
a[0]

[10, 20]

In [107]:
# 행렬의 내부 값 추가

[[10, 20, 100], [500, 600, 700], [9], [30, 40], [8], [800, 900, 1000]]

```mpython
리스트 = [(값, 값), (값, 값), (값, 값)]
튜플 = ([값, 값], [값, 값], [값, 값])
튜플 = ((값, 값), (값, 값), (값, 값))
```

In [108]:
a = ((10, 20), (30, 40), (50, 60))    # 튜플 안에 튜플을 넣은 2차원 튜플
b = ([10, 20], [30, 40], [50, 60])    # 튜플 안에 리스트를 넣음
c = [(10, 20), (30, 40), (50, 60)]    # 리스트 안에 튜플을 넣음

In [109]:
# a[0][0] = 500    # 안쪽 튜플은 변경할 수 없음. TypeError 발생

In [110]:
# a[0] = (500, 600)    # 바깥쪽 튜플은 변경할 수 없음. TypeError 발생

In [111]:
b[0]

[10, 20]

In [112]:
b[0][0] = 500        # 안쪽 리스트는 변경할 수 있음
b

([500, 20], [30, 40], [50, 60])

In [113]:
# b[0] = (500, 600)    # 바깥쪽 튜플은 변경할 수 없음. TypeError 발생

In [114]:
c[0]

(10, 20)

In [115]:
# c[0][0] = 500        # 안쪽 튜플은 변경할 수 없음. TypeError 발생

In [116]:
c[0] = (500, 600)    # 바깥쪽 리스트는 변경할 수 있음
c

[(500, 600), (30, 40), (50, 60)]

In [117]:
a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [118]:
!pip install pprintpp

Collecting pprintpp
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Installing collected packages: pprintpp
Successfully installed pprintpp-0.4.0

In [119]:
# pprint 외장함수로 데이터를 차원에 맞게 출력 가능

[[10, 20],
 [30, 40],
 [50, 60]]

In [120]:
# pprint 외장함수로 데이터를 차원에 맞게 출력 가능
# 사용 함수의 코드를 짧게 작성하기 위해 from 모듈 import 함수 사용

[[10, 20],
 [30, 40],
 [50, 60]]

## 2차원에서의 반복문

- 추출하는 값의 길이와 반복문에서의 변수 갯수는 일치해야 함

```python
리스트[세로인덱스][가로인덱스]
```

In [121]:
import numpy as np

a = [[10, 20], [30, 40], [50, 60]]
print(a, np.shape(a), len(a), len(a[0]))

[[10, 20], [30, 40], [50, 60]] (3, 2) 3 2

In [122]:
len(a)

3

In [123]:
a[0]

[10, 20]

In [124]:
len(a[0])

2

In [125]:
# 기존 프로그램의 인덱스 접근

10 20
30 40
50 60

In [126]:
# 데이터가 변경되어도 실행되지 않는 값이 존재

10 20
30 40
50 60

In [127]:
# 기존 프로그램의 인덱스 접근

10 20
30 40
50 60

In [128]:
# 데이터가 변경되어도 모두 실행

10 20
30 40
50 60
70 80

In [129]:
# 데이터의 각 row 길이가 달라도 모두 실행

10 20
30 40
50 60
70 80 90 100

In [130]:
# 2차원 데이터를 반복문의 중첩을 사용해서 연산도 가능

15 25
35 45
55 65

In [131]:
# while문을 사용해서 동일결과 출력

10 20
30 40
50 60

In [132]:
# while문을 사용해서 동일결과 출력

10 20
30 40
50 60

In [133]:
a = [[10, 20], [30, 40], [50, 60]]
for i in a:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [134]:
# 인덱스 위치를 신경쓸 필요가 없이 값 자체를 하나씩 반복 가능

10 20
30 40
50 60

In [135]:
# 파이썬의 강점으로 반복 동안 2개(그이상도 가능)의 출력값을 활용 가능

10 20
30 40
50 60

In [136]:
line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
for j in range(2):
    line.append(1)     # 안쪽 리스트에 0 추가

line

[1, 1]

In [137]:
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(1)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
pprint(a, width=10)

[[1, 1],
 [1, 1],
 [1, 1]]

In [138]:
# 리스트 표현식으로 재현
# line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
# for j in range(2):
#     line.append(1)     # 안쪽 리스트에 0 추가
# line

[1, 1]

In [139]:
# 리스트 표현식으로 위 코드 결과를 재현

[[1, 1],
 [1, 1],
 [1, 1]]

In [140]:
# 반복문의 중첩도 한줄의 list comprehension으로 전환 가능

[[1, 1],
 [1, 1],
 [1, 1]]

In [141]:
# 대괄호를 하나 삭제한다면?

[1, 1, 1, 1, 1, 1]

In [142]:
[1 for j in range(2)]

[1, 1]

In [143]:
[1]*2

[1, 1]

In [144]:
# 반복문 중첩도 효율적 연산으로 반복문을 줄여 동일결과 출력 가능

[[1, 1],
 [1, 1],
 [1, 1]]

In [145]:
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(1)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
pprint(a, width=10)

[[1, 1],
 [1, 1],
 [1, 1]]

In [146]:
list(range(3))

[0, 1, 2]

In [147]:
# 가로의 길이를 임의의 값으로 입력받아 각 행별 출력 길이 조절 가능

[[1, 1, 1],
 [1],
 [1, 1, 1],
 [1, 1],
 [1, 1, 1, 1, 1]]

In [148]:
# 위와 동일한 결과를 list comprehension으로 전환 가능

[[1, 1, 1],
 [1],
 [1, 1, 1],
 [1, 1],
 [1, 1, 1, 1, 1]]

In [149]:
# 변수끼리의 = 기호는 할당이 아니라 동일한 변수로 반영

[[500, 20], [30, 40]] [[500, 20], [30, 40]]

In [150]:
# 변수끼리의 = 기호는 할당이 아니라 동일한 변수로 반영
# 복사를 해서 값만 할당해줘야 함
# 2차원 이상에서는 이 방법도 적용 불가

[[500, 20], [30, 40]] [[500, 20], [30, 40]]

In [151]:
# 2차원 이상에서는 깊은 복사로 진행하면 중첩된 리스트에 있는 모든 요소들을 복사함
# deepcopy 외장함수로 내부 값들을 복사하여 전달

[[10, 20], [30, 40]] [[500, 20], [30, 40]]

## 반복문으로 3차원 리스트 생성

- **3차원 리스트 생성 및 값 반영:**

```python
리스트 = [[[값, 값], [값, 값]], [[값, 값], [값, 값]], [[값, 값], [값, 값]]]
리스트[높이인덱스][세로인덱스][가로인덱스] = 값
```

![Loop_3DimList](Image/Loop_3DimList.png)

In [152]:
[0 for col in range(3)]

[0, 0, 0]

In [153]:
# list comprehension 활용 2차원 데이터 출력

[[0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0]]

In [154]:
# list comprehension 활용 2차원 데이터 출력을 중복적용하여 3차원 데이터 출력

[[[0, 0, 0],
  [0, 0, 0],
  [0, 0, 0],
  [0, 0, 0]],
 [[0, 0, 0],
  [0, 0, 0],
  [0, 0, 0],
  [0, 0, 0]]]

In [155]:
# list comprehension 활용 2차원 데이터 출력을 중복적용을 한줄로 표현하여 3차원 데이터 출력

[[[0, 0, 0],
  [0, 0, 0],
  [0, 0, 0],
  [0, 0, 0]],
 [[0, 0, 0],
  [0, 0, 0],
  [0, 0, 0],
  [0, 0, 0]]]

In [156]:
# 3차원 데이터의 시각화는 어려운 부분이라, 2차원 데이터를 반복시켜 확인하는게 일반적

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  0  0  0

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  0  0  0

In [2]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'ConditionLoop'    # 고정값
name = '김경원'    # 본인 이름을 작성
studentid = '20211011'    # 본인 학번을 작성
course = '비즈니스혁신을위한데이터사이언스응용'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1반'    #  학수번호 끝자리
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
48(GB)
Windows
10.0.22000
C:\DataScience\Lecture\[DataScience]
2022-03-21 01:44:14.436007
2022-04-04 13:02:29.471007
2022-04-04 13:02:29.471007
2022-04-04 13:08:42.709316
다음 출력을 파일명으로 설정하고 제출하시오: 김경원_20211011_비즈니스혁신을위한데이터사이언스응용_1반_ConditionLoop

<!-- ## str/list/tuple/dictionary 응용

<!-- https://dojang.io/mod/page/view.php?id=2281 -->